{% extends 'base.html.twig' %}


{% block content %}

    <h5 class="mb-0" ><strong>Clients</strong></h5>
    <span class="text-secondary">Liste des totaux vendus pour chaque clients</span>

    <div class="row mt-3">
        <div class="col-sm-12">
            <!--Striped table-->
            <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">

                <table class="table table-striped" id="project_table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Nombre matériel(s)</th>
                        <th>Totaux </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if clients is defined and clients is not empty %}
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.nomClient }}</td>
                                <td>{{ client.prenomClient }}</td>
                                <td>{{ client.nbrMateriel }}</td>
                                <td>{{ client.totaux }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!--/Striped table-->
        </div>
    </div>
{% endblock %}
